body {
    background-image: url('https://img.freepik.com/foto-gratis/vista-nocturna-calles-ciudad-shanghai-china_1057-36542.jpg?w=1380&t=st=1705078204~exp=1705078804~hmac=121af05f10d7df696e5cedbbea6696dc66f1b230cc8b2c3f91142affcfa58343');
    background-size: cover;
    background-repeat: no-repeat;
  }
.container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
}

.traffic-light-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 6px;
}

.traffic-light {
    background: black;
    display: inline-block;

}

.traffic-light-cable {
    background: black;
    width: 10px;
    height: 100px;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.glow {
    box-shadow: 0px 0px 20px 5px white;
}
